<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>header</header>
        <main>
            <div class="left">
                <ul>
                    <li>aaa</li>
                    <li>aaa</li>
                    <li>aaa</li>
                    <li>aaa</li>
                    <li>aaa</li>
                </ul>
            </div>
            <div class="right">right</div>
        </main>
        <footer>footer</footer>
    </div>
</body>
</html>
